version: "3.8"

services:
  temporal:
    image: temporalio/auto-setup:1.22.0
    container_name: temporal
    environment:
      DB: postgresql
      DB_PORT: "5432"
      POSTGRES_PORT: "5432"
      POSTGRES_SEEDS: host.docker.internal
      POSTGRES_USER: smartcourse
      POSTGRES_PWD: password
      POSTGRES_DB: temporal_db
      SKIP_SCHEMA_SETUP: "false"
    ports:
      - "7233:7233"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  temporal-web:
    image: temporalio/web:1.15.0
    container_name: temporal-web
    depends_on:
      - temporal
    environment:
      TEMPORAL_GRPC_ENDPOINT: temporal:7233
      TEMPORAL_PERMIT_WRITE_API: "true"
    ports:
      - "8088:8088"
